body {
	margin: 0px;
	background: whitesmoke;
}

.nav{
	background: white;
	max-width: 100%;
}

.nav_bar {
	background: white;
	max-width: 1000px;
	height: 40px;
	margin: 0px auto;

}

ul {
	margin: 0px;
	display: flex;
}

.link_1 {
	list-style: none;
	margin: 10px;
}

.text_1 {
	font-family: 'Montserrat',Arial,sans-serif;
	color: white;
	
	text-decoration: none;
	color: black;
	transition: 0.5s;
}

.text_1:hover{
	color:whitesmoke;
}

.dop_panel{
	width: 100%;
	height: 50px;
/*	border-top: solid 1px;*/
	background: white;
}


.dop_panel_content{
	display: flex;
/*	background: red;*/
	width: 1000px;
	height: 50px;
/*	border-top: solid 1px;*/
	margin: 0px auto;
}

.search_site{
	font-family: 'Montserrat',Arial,sans-serif;
	width: 300px;
	height: 20px;
	background: whitesmoke;
	padding: 10px;
	border-radius: 10px;
	border:0px;
	margin-top: 5px;

	
}

.ssa{
	width: 50px;
	height: 50px;
	margin-left: auto;
}



.type_product{
 font-family: 'Montserrat',Arial,sans-serif;
 color: black;
/* background: red;*/
 width: 1000px;
 height: auto;
 margin: 0px auto;
}


.body_box {
/*	display: flex;*/
	background: white;
	width: 1000px;
	height: auto;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


.text_pc{
	padding: 10px;
	font-family: 'Montserrat',Arial,sans-serif;
}


.rec_table{
	margin: 20px auto 110px auto;
	width: 400px;
	height: 200px;

}

.td1{
	padding: 10px;
	background: #DCDCDC;
}

.td2{
	padding: 10px;

}